@{
    ViewBag.Title = "ProductViewDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IBHFL.Models.CategroyDashboard detail = (IBHFL.Models.CategroyDashboard)ViewData["obj"];
    IBHFL.Models.RootObjectcolor colorlist = (IBHFL.Models.RootObjectcolor)ViewData["Colorlist"];
    bool flag_color_change = true;
    int zero = 0;
}



<style>

    .listclr1
    {
        background-color:@colorlist.response[2].grid1_bk_color;
        color:@colorlist.response[2].grid1_text_color;
    border-top:none;
    }
    .listclr1 a
    {
     color:@colorlist.response[2].grid1_text_color;
    }

    .listclr2
    {

     background-color:@colorlist.response[2].grid2_bk_color;
        color:@colorlist.response[2].grid2_text_color;
     border-top:none;
    }
     .listclr2 a
    {
     color:@colorlist.response[2].grid1_text_color;
    }
</style>

@if (colorlist.response[2].config_type == 3)
{

}
else
{

}

<a href="" id="backLink"> <small class="text-navy"> <i class="fa fa-fw" aria-hidden="true" title="Copy to use chevron-circle-left"></i> Back</small> </a>
<div class="btmclr"> </div>

@if (detail == null)
{
    <div class="row">
        <div class="col-md-12" align="center">
            <h3 style="color:#019934" class="categories_header_text"> no data found</h3>
        </div>
    </div>
}
else
{

    <div class="col-md-12">
        <div class="row" align="center">
            @*<img src="@detail.CATEGORY.CategoryImagePath" alt="" style="width:10%" class="img-responsive pull-left" />*@
            <h3 style="background-color:white;text-align:center" class="categories_header_text"><b>@detail.CATEGORY.CategoryHeader </b> </h3>
        </div>
        <div class="" style="">

            @if (detail.CONTENTLIST == null)
            {<div class="row">
                    <div class="col-md-12" align="center">
                        <h3 style="color:#019934" class="categories_header_text"> no content found</h3>
                    </div>
                </div>
            }
            else
            {
                <h3 class="categories_header_text" style="background-color:transparent">
                    <strong> List</strong>
                </h3>

                <div id="list_view" style="">
                    <table class="table " width="100%;">
                        @foreach (IBHFL.Models.SearchResponce itm in detail.CONTENTLIST)
                        {
                            if (flag_color_change == true)
                            {
                                flag_color_change = false;
                                <tr class="listclr1">
                                    <td class="odd" style="">
                                        <a href="@Url.Action("ProductQueAns", "Dashboard", new { ContentID = @itm.ID_CONTENT })">@itm.CONTENT_QUESTION</a>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                flag_color_change = true;
                                <tr class="listclr2" ;>
                                    <td class="odd">
                                        <a href="@Url.Action("ProductQueAns", "Dashboard", new { ContentID = @itm.ID_CONTENT })">@itm.CONTENT_QUESTION</a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>

            }
            <hr />

            @if (detail.ASSESSMENTLIST.Count == @zero)
            {<div class="row">
                    <div class="col-md-12" align="center">

                        <h3 style="color:#019934" class="categories_header_text"> </h3>
                    </div>
                </div>

            }
            else
            { <h3 class="categories_header_text" style="background-color:transparent">
                    <strong> Assessment</strong>
                </h3>
                <br />
                <div id="list_view" style="">
                    <table class="table" width="100%;">
                        @foreach (IBHFL.Models.AssessmentList itm in detail.ASSESSMENTLIST)
                        {

                            if (flag_color_change == true)
                            {
                                flag_color_change = false;
                                <tr>
                                    <td class="listclr1">
                                        <a href=@Url.Action("AssessmentSheet", "Dashboard", new { ASID = @itm.id_assessment })>"@itm.assessment_name"</a>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                flag_color_change = true;
                                <tr>
                                    <td class="listclr2">
                                        <a href=@Url.Action("AssessmentSheet", "Dashboard", new { ASID = @itm.id_assessment })>"@itm.assessment_name"</a>
                                    </td>
                                </tr>
                            }

                        }
                    </table>
                </div>
            }
        </div>
    </div>

}

<div class="customflybutton" id="customflybutton">

    <a href="javascript:void(0);" class="float" id="backfloat">

        <i class="fa fa-fw my-float" aria-hidden="true" title="Go Back"></i>
    </a>
</div>
<script src="~/Content/New_Landing_Page/dub/dashboardmain.js"></script>