
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ScheduledEvent";
    IBHFL.Models.ScheduledEvent result = (IBHFL.Models.ScheduledEvent)ViewData["obj"];
}
<style>
    .pad {
        padding: 5px;
    }
</style>
<body oncontextmenu="return false">

    <a href="" id="backLink"> <small class="text-navy"> <i class="fa fa-fw" aria-hidden="true" title="Copy to use chevron-circle-left"></i> Back</small> </a>
    <div class="btmclr"> </div>

    <div align="center">

        <div class="row" style="text-align: center; color: #4e2009; width: 70%; background-image: url('~/Content/images/event4.jpg');">
            <div style="padding:5px;background-color:gray;color:white">

                <b>Event Status : </b> @result.MESSAGE

            </div>
            <div class="pad" style="color:black">
                <b>
                    Event Title : @result.event_title
                </b>
            </div>


            <div class="pad" style="padding:5px;background-color:gray;color:white">
                <b>
                    Event Description : @result.event_description
                </b>
            </div>


            <div class="pad" style="color:black">
                <b>
                    Event Objective : @result.program_objective
                </b>
            </div>


            @*<div class="pad" style="padding:5px;background-color:gray;color:white">
                    <b>
                        Program Duration : @result.program_duration
                    </b>
                </div>*@


            <div class="pad" style="padding:5px;background-color:gray;color:white">
                <b>
                    Registration Period : @result.registration_start_date to @result.registration_end_date
                </b>
            </div>


            <div class="pad" style="color:black">
                <b>
                    Event Schedule Date and Time : @result.event_start_datetime
                </b>
            </div>


            <div class="pad" style="padding:5px;background-color:gray;color:white">
                <b>
                    Event Venue and Location : @result.program_location
                </b>
            </div>


            <div class="pad" style="color:black">
                <b>
                    Event Type : @result.event_type
                </b>
            </div>


            <div class="pad" style="padding:5px;background-color:gray;color:white">
                <b>
                    Faciliator Name : @result.facilitator_name
                </b>
            </div>



            <div class="pad" style="color:black">
                <b>
                    Organisation : @result.facilitator_organization
                </b>
            </div>

            @if (@result.attachment_title == null)
            {
            }
            else
            {
                <div class="pad" style="padding:5px;background-color:gray;color:white">
                    <b>
                        Program Attachment : @result.attachment_title
                    </b>
                </div>


                <div class="pad" style="color:black">
                    <b>
                        Program Info : @result.attachment_info
                    </b>
                </div>


            }
            @if (@result.STATUS == "O" || @result.STATUS == "o")
            {
                if (@result.event_type == "Closed")
                {
                    if (@result.is_response == "1")
                    {
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <a href="@Url.Action("EventSubscribe", "Dashboard", new { Eid = @result.id_scheduled_event })"><button class="btn btn-info btn-mini" style="width:100%">Accept</button> </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="@Url.Action("Comment", "Dashboard", new { Eid = @result.id_scheduled_event })"><button class="btn btn-info btn-mini" style="width:100%">Reject</button> </a>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4"></div>
                            <br />
                            <br />
                        </div>

                    }
                    else if (@result.is_response == "2")
                    {
                    }

                }
                if (@result.event_type == "Open")
                {
                    if (@result.is_response == "1")
                    {
                        <div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <br />
                                <br />
                                <br />
                                <a href="@Url.Action("EventSubscribe", "Dashboard", new { Eid = @result.id_scheduled_event })"><button class="btn btn-info btn-mini" style="width:100%">Subscribe</button> </a>

                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    }
                    else if (@result.is_response == "2")
                    { }

                }

            }
            @if (@result.STATUS == "A" || @result.STATUS == "a")
            {
                if (@result.is_unsubscribe == "1")
                {
                    <div>
                        <br />
                        <br />
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <a href="@Url.Action("Comment", "Dashboard", new { Eid = @result.id_scheduled_event })"><button class="btn btn-info btn-mini" style="width:100%">Un-Subscribe</button> </a>
                        </div>
                        <div class="col-md-4"></div>
                        <br />

                    </div>
                }
                else if (@result.is_unsubscribe == "2")
                {

                }

            }
            <br />
            <br />
        </div>

    </div>




</body>